@model CatForum.Models.Discussion

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>

<div>
    @if (!string.IsNullOrEmpty(Model.ImageFileName))
    {
        <div>
            <img src="@Url.Content("/photos/" + Model.ImageFileName)" alt="@Model.Title" />
        </div>
    }


    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Model.CreateDate.ToString("MMM d, yyyy")
        </dd>
    </dl>
</div>

<!-- Comments Section -->
<h3>Comments</h3>

@if (Model.Comments != null && Model.Comments.Any())
{
    <div class="list-group mb-4">
        @foreach (var comment in Model.Comments)
        {
            <div class="list-group-item">
                <div class="d-flex justify-content-between">
                    <strong>@comment.CreateDate.ToString("MMM d, yyyy")</strong>
                </div>
                <p class="mt-2">@comment.Content</p>
            </div>
        }
    </div>
}
else
{
    <p>No comments yet.</p>
}

<!-- Add a Comment Link -->
<a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId" class="btn btn-sm btn-primary">Add Comment</a>
<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiscussionId">Edit</a> |
    <a asp-action="Index">Back to all Discussions</a>
</div>