@model CatForum.Models.Discussion

@{
    ViewData["Title"] = "Details";
}


<div class="container w-75 mx-auto p-2">
    <div class="card shadow-sm">

        <h2 class="m-3 text-warning-emphasis">@Model.Title</h2>
        <div class="card-body">
            <div class="mb-3">
            @if (Model.ApplicationUser != null)
            {
                <div class="d-flex">
                    @if (!string.IsNullOrEmpty(Model.ApplicationUser.ImageFileName))
                    {
                        <div class="pe-2">
                            <img src="~/profile_img/@Model.ApplicationUser.ImageFileName" alt="@Model.ApplicationUser.Name" class="profile-thumbnail" />
                        </div>
                    }
                    <div>
                        <a asp-controller="Home" asp-action="Profile" asp-route-id="@Model.ApplicationUser?.Id" class="text-decoration-none text-warning-emphasis">
                            @Model.ApplicationUser?.Name
                        </a>
                    </div>
                </div>
            }
            </div>
            <div class="img-fluid">

                @if (!string.IsNullOrEmpty(Model.ImageFileName))
                {
                    <img src="@Url.Content("/photos/" + Model.ImageFileName)" alt="@Model.Title" class="img-fluid mt-3">
                }
                else
                {
                    <img src="@Url.Content("/images/default.png")" alt="CatForum logo" class="img-fluid mt-3">
                }
            </div>

            <p class="text-muted">@Model.CreateDate.ToString("MMM d, yyyy - h:mm tt")</p>
            <div class="mb-3">
                @Html.DisplayFor(model => model.Content)
            </div>

            <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId" class="btn btn-sm btn-primary">Add Comment</a>
        </div>
    </div>

<!-- Comments Section -->
<h3 class="mt-4 mb-3">Comments</h3>

@if (Model.Comments != null && Model.Comments.Any())
{
    <div class="list-group mb-3">
        @foreach (var comment in Model.Comments)
        {
            <div class="list-group-item">
                <div class="d-flex justify-content-between">
                        <a asp-controller="Home" asp-action="Profile" asp-route-id="@Model.ApplicationUser?.Id" class="text-decoration-none text-warning-emphasis">
                            @Model.ApplicationUser?.Name
                        </a>
                    <strong>@comment.CreateDate.ToString("MMM d, yyyy - h:mm tt")</strong>
                </div>
                <p class="mt-2">@comment.Content</p>
            </div>
        }
    </div>
}
else
{
    <p>No comments yet.</p>
}


    <div class="mt-4">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Discussions</a>
    </div>

</div>

