@model CatForum.Models.Discussion

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>
<br />

<div>
    @if (!string.IsNullOrEmpty(Model.ImageFileName))
    {
        <div>
            <img src="@Url.Content("/photos/" + Model.ImageFileName)" alt="@Model.Title" />
        </div>
    }



    <div class="mb-3">
        <p>@Model.CreateDate.ToString("MMM d, yyyy")</p>
        @Html.DisplayFor(model => model.Content)
    </div>
    
</div>


<!-- Add a Comment Link -->
<a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId" class="btn btn-sm btn-primary mb-4">Add Comment</a>
<br />
<!-- Comments Section -->
<h3>Comments</h3>

@if (Model.Comments != null && Model.Comments.Any())
{
    <div class="list-group mb-3">
        @foreach (var comment in Model.Comments)
        {
            <div class="list-group-item">
                <div class="d-flex justify-content-between">
                    <strong>@comment.CreateDate.ToString("MMM d, yyyy")</strong>
                </div>
                <p class="mt-2">@comment.Content</p>
            </div>
        }
    </div>
}
else
{
    <p>No comments yet.</p>
}


<br />
<br />
<div>
    <a asp-controller="Home" asp-action="Index">Back to Discussions</a>
</div>
